@page "/definitions/brand-list"
@using DevExpress.Blazor
@using InventoryManagement.Frontend.Common.Exceptions;
@using InventoryManagement.Frontend.Common;
@using InventoryManagement.Frontend.Constants;
@using InventoryManagement.Frontend.DTOs;
@using InventoryManagement.Frontend.DTOs.Brand
@using InventoryManagement.Frontend.DTOs.Company
@using InventoryManagement.Frontend.Services;
@using InventoryManagement.Frontend.Services.Authorization;



@inherits ComponentBase

@if (brandModel != null && brandModel.data != null)
{
    @if (_authorizationService.HasPermission("res:brand", "scopes:read"))
    {
        <DxGrid @ref="GridBrand"
                Data="brandModel?.data"
                PageSize="12"
                ColumnResizeMode="GridColumnResizeMode.NextColumn"
                ValidationEnabled="true"
                CustomizeEditModel="GridBrand_CustomizeEditModel"
                EditModelSaving="GridBrand_EditModelSaving"
                EditMode="GridEditMode.EditRow"
                EditorRenderMode="GridEditorRenderMode.Integrated">
            <Columns>
                <DxGridCommandColumn Width="190px">
                    <HeaderTemplate>
                        @if (_authorizationService.HasPermission("res:category", "scopes:create"))
                        {
                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Secondary" Style="border-radius: 50%;" Shade="Shade.Lighter" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="() => GridBrand.StartEditNewRowAsync()" />
                        }
                    </HeaderTemplate>
                    <CellDisplayTemplate>
                        @{
                            @if (_authorizationService.HasPermission("res:brand", "scopes:update"))
                            {
                                <DxButton Click="() => GridBrand.StartEditDataItemAsync(context.DataItem)" Text="Düzenle" RenderStyle="ButtonRenderStyle.Link" />
                            }
                            @if (_authorizationService.HasPermission("res:brand", "scopes:delete"))
                            {
                                <DxButton Click="() => DeleteBrandDialog((BrandDto)context.DataItem)" Text="Sil" RenderStyle="ButtonRenderStyle.Link" />
                            }
                        }
                    </CellDisplayTemplate>
                    <CellEditTemplate>
                        @if (_authorizationService.HasPermission("res:brand", "scopes:create"))
                        {
                            <DxButton Click="() => GridBrand.SaveChangesAsync()" Text="Kaydet" RenderStyle="ButtonRenderStyle.Link" />
                            <DxButton Click="() => GridBrand.CancelEditAsync()" Text="İptal Et" RenderStyle="ButtonRenderStyle.Link" />
                        }
                    </CellEditTemplate>
                </DxGridCommandColumn>
                <DxGridDataColumn FieldName="Name" SortIndex="0" Caption="Marka Adı"  />
            </Columns>


            <DetailRowTemplate Context="detailItem">
                @{
                    var category = (BrandDto)detailItem.DataItem;
                    <div class="rz-shadow-8" style="width: 100%; height: 100%">
                        <RadzenCard class="rz-p-3" style="width: 100%; height: 100%">
                            <DxGrid @ref="GridModel"
                                    Data="@category.Models"
                                    ColumnResizeMode="GridColumnResizeMode.NextColumn"
                                    ValidationEnabled="true"
                                    CustomizeEditModel="GridModel_CustomizeEditModel"
                                    EditModelSaving="GridModel_EditModelSaving"
                                    EditMode="GridEditMode.EditRow"
                                    EditorRenderMode="GridEditorRenderMode.Integrated">
                                <Columns>
                                    <DxGridCommandColumn Width="190px">
                                        <HeaderTemplate>
                                            @if (_authorizationService.HasPermission("res:category", "scopes:create"))
                                            {
                                                <RadzenButton Click="() => {SelectedBrand = category; GridModel.StartEditNewRowAsync();}" Icon="add" ButtonStyle="ButtonStyle.Secondary" Style="border-radius: 50%;" Shade="Shade.Lighter" Variant="Variant.Flat" Size="ButtonSize.Medium" />
                                            }
                                        </HeaderTemplate>
                                        <CellDisplayTemplate>
                                            @{
                                                @if (_authorizationService.HasPermission("res:category", "scopes:update"))
                                                {

                                                    <DxButton Click="() => GridModel.StartEditDataItemAsync(context.DataItem)" Text="Düzenle" RenderStyle="ButtonRenderStyle.Link" />
                                                }
                                                @if (_authorizationService.HasPermission("res:category", "scopes:delete"))
                                                {
                                                    <DxButton Click="() => DeleteModelDialog((ModelDto)context.DataItem)" Text="Sil" RenderStyle="ButtonRenderStyle.Link" />
                                                }
                                            }
                                        </CellDisplayTemplate>
                                        <CellEditTemplate>
                                            @if (_authorizationService.HasPermission("res:category", "scopes:create"))
                                            {
                                                <DxButton Click="() => GridModel.SaveChangesAsync()" Text="Kaydet" RenderStyle="ButtonRenderStyle.Link" />
                                                <DxButton Click="() => GridModel.CancelEditAsync()" Text="İptal Et" RenderStyle="ButtonRenderStyle.Link" />
                                            }
                                        </CellEditTemplate>
                                    </DxGridCommandColumn>
                                    <DxGridDataColumn FieldName="Name" Caption="Alt Kategori Adı" />
                                </Columns>
                            </DxGrid>
                        </RadzenCard>
                    </div>
                }
            </DetailRowTemplate>
        </DxGrid>
    }
}

else
{
    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}

@code {
    public async Task DeleteBrandDialog(BrandDto brand)
    {
        var result = await _dialogService.OpenAsync("Kategori Sil", ds =>
    @<RadzenStack Gap = "1.5rem">
                <p> Kategori : <b> @brand.Name </b> isimli kategori ve buna bağlı alt kategorilerde silinecek! </p>
                <RadzenStack Orientation = "Radzen.Orientation.Horizontal" Gap = "0.5rem" AlignItems = "AlignItems.Center" JustifyContent = "JustifyContent.End" >
                    <RadzenStack Orientation = "Radzen.Orientation.Horizontal" JustifyContent = "JustifyContent.End" >
                        <RadzenButton Text = "İptal" Click = "() => ds.Close(false)" ButtonStyle = "ButtonStyle.Light" />
                        <RadzenButton Text = "Sil" Click = "async() => { ds.Close(true); _dialogService.Dispose(); await DeleteBrand(brand); }" ButtonStyle="ButtonStyle.Danger" Style="width: 80px;" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
    );
    }

    public async Task DeleteModelDialog(ModelDto category)
    {
        var result = await _dialogService.OpenAsync("Model Sil", ds =>
    @<RadzenStack Gap="1.5rem">
        <p>Model: <b>@category.Name</b>isimli model silinecek !</p>
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
            <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.End">
                <RadzenButton Text="İptal" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                <RadzenButton Text="Sil" Click="async() => { ds.Close(true); _dialogService.Dispose(); await DeleteModel(category); }" ButtonStyle="ButtonStyle.Danger" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    );
    }

}

