@page "/"



<PageTitle>Ana Sayfa</PageTitle>

<h1>Envanter Yönetim uygulaması</h1>

Welcome to your new app.




<SurveyPrompt Title="Bu alanda genel envanter bilgileri yer alacak..." />

@*<AuthorizeView>
    <Authorized>
        yetkilisin
    </Authorized>

    <NotAuthorized>
        Yetkili değilsin 
    </NotAuthorized>
</AuthorizeView>
*@



@code {

}